@font-face {
  font-family: 'opendyslexic';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/opendyslexic/OpenDyslexic-Regular.otf");
  font-style: normal;
  font-weight: normal;
  font-weight: 400; }

@font-face {
  font-family: 'opendyslexic';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/opendyslexic/OpenDyslexic-Italic.otf");
  font-style: italic;
  font-weight: normal;
  font-weight: 400; }

@font-face {
  font-family: 'opendyslexic';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/opendyslexic/OpenDyslexic-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'opendyslexic';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/opendyslexic/OpenDyslexic-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'opendyslexicmono';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/opendyslexic/OpenDyslexicMono-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-weight: 400; }

html, body {
  font-family: opendyslexic !important; }

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ul,
span,
strong {
  font-family: opendyslexic !important; }

#docs-font-family, #fontSizeSelect {
  display: none !important; }

.kix-appview-editor p,
.kix-appview-editor a,
.kix-appview-editor h1,
.kix-appview-editor h2,
.kix-appview-editor h3,
.kix-appview-editor h4,
.kix-appview-editor h5,
.kix-appview-editor h6,
.kix-appview-editor input,
.kix-appview-editor ul,
.kix-appview-editor span,
.kix-appview-editor strong {
  font-family: opendyslexic !important; }

.kix-appview-editor .kix-paragraphrenderer p, .kix-appview-editor .kix-paragraphrenderer a, .kix-appview-editor .kix-paragraphrenderer h1, .kix-appview-editor .kix-paragraphrenderer h2, .kix-appview-editor .kix-paragraphrenderer h3, .kix-appview-editor .kix-paragraphrenderer h4, .kix-appview-editor .kix-paragraphrenderer h5, .kix-appview-editor .kix-paragraphrenderer input, .kix-appview-editor .kix-paragraphrenderer ul, .kix-appview-editor .kix-paragraphrenderer span, .kix-appview-editor .kix-paragraphrenderer font, .kix-appview-editor .kix-paragraphrenderer strong {
  font-family: opendyslexic !important;
  font-size: xx-small !important; }

.kix-appview-editor * {
  font-family: opendyslexic !important;
  line-height: 200% !important; }

.kix-appview-editor .kix-lineview-text-block {
  width: unset !important; }
